@import url(https://fonts.googleapis.com/css?family=Jua|Noto+Sans+KR&display=swap);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: white;
  height: 100%;
  padding-left: 15%;
  padding-right: 15%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.Navbar {
  position: fixed;
  right: 5%;
  top: 2%;
}

.Home {
  height: 35%;
}

.Home_text {
  padding-top: 2rem;
}

.Home_t1,
.Home_t2 {
  font-size: 3.5rem;
  font-family: "Jua", sans-serif;
  padding-top: 1.3rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.Home_t1 {
  animation: fadeIn 1.5s 1 forwards;
}

.Home_t2 {
  opacity: 0;
  animation: fadeIn 1.5s 1.5s 1 forwards;
}

.AboutMe {
  height: 50%;
}

.AboutMe_title {
  text-align: center;
  border-bottom: dashed grey 1px;
  font-size: 2rem;
  font-family: "Noto Sans KR", sans-serif;
  padding-bottom: 1rem;
  width: 20%;
  margin: 0 auto;
}

.AboutMe_t1 {
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  font-family: "Noto Sans KR", sans-serif;
  border-bottom: grey 1px dashed;
}

.AboutMe_t1_1 {
  padding-top: 0.8rem;
}

.AboutMe_t2 {
  padding-top: 1.5rem;
  display: flex;
}

.AboutMe_t2_1,
.AboutMe_t2_2 {
  width: 50%;
}

.AboutMe_t2_1 {
  border-right: 1px grey dashed;
}

.AboutMe_t2_1_title {
  text-align: center;
  font-size: 1.3rem;
}

.AboutMe_t2_1_content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.Project {
  background-color: green;
  height: 100%;
}

.Contact {
  background-color: coral;
  height: 100%;
}

