.AboutMe,
.MySkills {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  .AboutMe_branch,
  .MySkills_branch {
    padding-left: 0.5%;
    display: flex;
    width: 12%;
    margin-left: 3%;
    .master {
      width: 30%;
      .Circle {
        margin-left: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
        .inner_circle {
          height: 1.5rem;
          width: 1.5rem;
          border-radius: 0.75rem;
          background-color: #0174df;
        }
      }
      .Arrow {
        margin-top: -0.3rem;
        margin-left: 16.5%;
      }
    }

    .FeatureArrow {
      width: 70%;
    }
  }
  .AboutMe_content,
  .MySkills_content {
    width: 88%;
    display: flex;
    .Circle {
      border: 0.7rem solid #0174df;
    }
    .Arrow {
      margin-left: 0.8rem;
      margin-top: -0.2rem;
      .arrow_line {
        margin-left: 0.5rem;
        height: 15rem;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        background-color: #0174df;
      }
      .arrow {
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-top: 1.5rem solid #0174df;
      }
    }

    .content {
      margin-left: 2%;
      .content_title {
        margin-top: 0.5rem;
        font-size: 2rem;
        font-weight: bold;
      }
      .content_box {
        margin-top: 3rem;
        display: flex;
        .content_img {
          height: 11rem;
          width: 11rem;
          border-radius: 5.5rem;
        }
        .content_text {
          margin-left: 2rem;
          font-size: 1.2rem;
          line-height: 2.5rem;
        }
      }
    }
  }
}

@keyframes aboutMeContent {
  from {
    transform: translateX(20rem);
  }
  to {
    transform: none;
  }
}

@keyframes arrowline {
  from {
    height: 0;
  }
  to {
    height: 25rem;
  }
}

@keyframes arrow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes featureArrowRight {
  from {
    width: 0;
  }
  to {
    width: 7.5rem;
  }
}

.AboutMe {
  .AboutMe_branch {
    .master {
      .Arrow {
        .arrow_line {
          height: 0;
          animation: arrowline 1.5s 4.5s 1 forwards;
        }
        .arrow {
          opacity: 0;
          animation: arrow 0.1s 4.5s 1 forwards;
        }
      }
    }
    .FeatureArrow {
      .right {
        .right_line {
          animation: featureArrowRight 1.5s 6s 1 forwards;
        }
      }
    }
  }
  .AboutMe_content {
    .content {
      animation: aboutMeContent 1.5s 6s 1 forwards;
    }
  }
}
