.FeatureArrow {
  display: flex;
  flex-direction: column;
  .right {
    display: flex;
    margin-top: 0.8rem;
    margin-left: 0rem;
    .right_line {
      height: 0;
      width: 7.5rem;
      border-top: 0.5rem solid transparent;
      border-bottom: 0.5rem solid transparent;
      background-color: #0174df;
      margin-top: 0.5rem;
    }
    .right_arrow {
      width: 0;
      height: 0;
      border-top: 1rem solid transparent;
      border-bottom: 1rem solid transparent;
      border-left: 1.5rem solid #0174df;
    }
  }

  .left {
    display: flex;
    transform: rotate(180deg);
    position: relative;
    top: 17.8rem;
    width: 115%;
    margin-left: -1.1rem;
    .left_line {
      height: 0;
      width: 97%;
      border-top: 0.5rem solid transparent;
      border-bottom: 0.5rem solid transparent;
      background-color: #0174df;
      margin-top: 0.5rem;
    }
    .left_arrow {
      width: 0;
      margin-right: 0.1rem;
      height: 0;
      border-top: 1rem solid transparent;
      border-bottom: 1rem solid transparent;
      border-left: 1.5rem solid #0174df;
    }
  }
}
