footer {
  background-color: #0b615e;
  height: 48%;
  .Contact_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title_text {
      font-family: "Jua", sans-serif;
      font-size: 3rem;
      margin-top: 3%;
      color: white;
      // animation: moveAbout 1s forwards;
      // display: none;
    }
    .title_underline {
      margin-top: 10px;
      width: 3rem;
      border-bottom: 3px solid white;
      // animation: moveAbout 1s forwards;
      // display: none;
    }
  }

  .Contact_list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    ul {
      margin-top: 30px;
      display: flex;
      li {
        width: 350px;
        display: flex;
        align-items: center;

        i {
          text-align: center;
          color: white;
          width: 70px;
        }
        span {
          color: white;
          font-size: 18px;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
      .secondIcon {
        margin-left: 80px;
      }
    }
  }
  .copyright_text {
    margin-top: 80px;
    text-align: center;
    color: #1c1c1c;
    font-weight: bold;
    span {
      color: #fe2e64;
    }
  }
}
