header {
  height: 100%;
  width: 100%;
  background-image: url("../image/backImg.png");
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  .Home {
    height: 17%;
    margin-top: 28vh;
    font-family: "Jua", sans-serif;
    font-size: 4rem;
    color: #0a2229;
    text-align: center;

    .Home_t1 {
      overflow: hidden;
      white-space: nowrap;
      animation: typing 2.5s steps(50, end) forwards;
      span {
        color: #0b615e;
      }
    }
    .Home_t2 {
      visibility: hidden;
      margin-top: 2rem;
      overflow: hidden;
      white-space: nowrap;
      animation: typing 2.5s 2.5s steps(30, end) forwards;
      span {
        color: #0b615e;
      }
      .sp2 {
        color: #240b3b;
      }
    }
    .btn_wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      .Home_btn {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        opacity: 0;
        height: 50px;
        width: 140px;
        background-color: transparent;
        border: 3px solid #0b615e;
        color: #0b615e;
        font-family: "Jua", sans-serif;
        font-size: 25px;
        outline: none;
        animation: showBtn 1s 5s forwards;
        cursor: pointer;
      }
      .Home_btn:hover {
        background-color: #0b615e;
        color: white;
        transition-property: background-color, color;
        transition-duration: 1s;
        i {
          transition: transform 1s ease;
          transform: rotate(90deg);
        }
      }
      .Home_btn:not(:hover) {
        background-color: transparent;
        border: 3px solid #0b615e;
        color: #0b615e;
        transition-property: background-color, color;
        transition-duration: 1s;
        i {
          transition: transform 1s ease;
          transform: rotate(0);
        }
      }
    }
  }
}

@keyframes showBtn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    visibility: hidden;
    width: 0;
  }
  to {
    visibility: visible;
    width: 100%;
  }
}

@mixin moveHomAni($transVh, $moveHomeName) {
  @keyframes #{$moveHomeName} {
    from {
    }
    to {
      transform: translateY($transVh);
    }
  }
}

@media all and (max-width: 1279px) and (min-width: 1024px) {
  html {
    font-size: 14px;
  }
  @include moveHomAni(5vh, moveHomeDown);
  header {
    .Home {
      animation: moveHomeDown 1s forwards;
    }
  }
}

// 태블릿
@media all and (max-width: 1023px) and (min-width: 768px) {
  html {
    font-size: 12px;
  }
  @include moveHomAni(10vh, moveHomeDown2);
  header {
    .Home {
      animation: moveHomeDown2 1s forwards;
    }
  }
}

// 중간
@media all and (max-width: 767px) and (min-width: 641px) {
  html {
    font-size: 10px;
  }
  @include moveHomAni(10vh, moveHomeDown3);
  header {
    .Home {
      animation: moveHomeDown3 1s forwards;
      .btn_wrapper {
        .Home_btn {
          height: 50px;
          width: 100px;
          font-size: 20px;
        }
      }
    }
  }
}

// 모바일
@media all and (max-width: 640px) and (min-width: 400px) {
  html {
    font-size: 8px;
  }
  @include moveHomAni(10vh, moveHomeDown4);
  header {
    .Home {
      animation: moveHomeDown4 1s forwards;
      .btn_wrapper {
        .Home_btn {
          height: 40px;
          width: 80px;
          font-size: 18px;
        }
      }
    }
  }
}

@media all and (max-width: 399px) and (min-width: 320px) {
  html {
    min-width: 320px;
    font-size: 7px;
  }
  @include moveHomAni(12vh, moveHomeDown5);
  header {
    .Home {
      animation: moveHomeDown5 1s forwards;
      .btn_wrapper {
        .Home_btn {
          height: 40px;
          width: 80px;
          font-size: 18px;
        }
      }
    }
  }
}
