.MySkills {
  margin-top: 0.5rem;
  .MySkills_branch {
    .master {
      .Arrow {
        .arrow_line {
          height: 40rem;
        }
      }
    }
    .FeatureArrow {
      .left {
        top: 33.8rem;
      }
    }
  }
  .MySkills_content {
    .Arrow {
      .arrow_line {
        height: 31rem;
      }
    }
    .content {
      width: 100%;
      .content_box {
        width: 65%;
        margin-left: 5%;
        display: block;
        margin-top: 4rem;
        .current_skills,
        .interest_skills {
          .current_title,
          .interest_title {
            // text-align: center;
            font-size: 1.2rem;
            font-weight: bold;
          }
          .Icons {
            display: flex;
            justify-content: space-around;
            margin-top: 1.5rem;
            .iconBox {
              display: flex;
              flex-direction: column;
              align-items: center;
              position: relative;
              cursor: pointer;
              .Icon {
                height: 6em;
                width: 6rem;
              }
              .inner_text {
                opacity: 0;
                position: absolute;
                top: 2.5rem;
              }
              .Icon.JS {
                height: 5rem;
                width: 5rem;
                margin-top: 0.5rem;
                background-image: url("../image/jsIcon.png");
                background-size: cover;
              }
              .Icon.HTML {
                background-image: url("../image/htmlIcon.png");
                background-size: cover;
              }
              .Icon.CSS {
                height: 5.5rem;
                width: 5.5rem;
                margin-top: 0.5rem;
                background-image: url("../image//cssIcon.png");
                background-size: cover;
              }
              .Icon.react {
                background-image: url("../image/reactIcon.png");
                background-size: cover;
              }
              .inner_text.react {
                text-align: center;
                top: 0.5rem;
              }
              .Icon.expo {
                margin-top: 0.5rem;
                height: 5rem;
                width: 5rem;
                background-image: url("../image//expoIcon.png");
                background-size: contain;
                background-repeat: no-repeat;
              }
              .inner_text.expo {
                text-align: center;
                top: 0.5rem;
              }
              .Icon.TS {
                background-image: url("../image/tsIcon.png");
                background-size: contain;
              }
              .Icon.node {
                background-image: url("../image/nodeIcon.png");
                background-size: cover;
              }
              .Icon.express {
                background-image: url("../image/expressIcon.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
              }
              .Icon.mysql {
                background-image: url("../image/mysqlIcon.png");
                background-size: cover;
              }
              .Icon.sequelize {
                background-image: url("../image/sequelizeIcon.png");
                background-size: cover;
              }
              .Icon.git {
                background-image: url("../image/gitIcon.png");
                background-size: cover;
              }
              .Icon.s3 {
                background-image: url("../image/s3Icon.png");
                background-size: cover;
              }
              .Icon.ec2 {
                background-image: url("../image/ec2Icon.png");
                background-size: cover;
                background-position: center;
              }
              .Icon.rds {
                background-image: url("../image/rdsIcon.png");
                background-size: cover;
                background-position: center;
              }
              .Icon.redux {
                background-image: url("../image/reduxIcon.png");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
              }
              .Icon.firebase {
                background-image: url("../image/firebaseIcon.png");
                background-size: cover;
              }
            }
            .iconBox:hover {
              .Icon {
                opacity: 0.2;
              }
              .inner_text {
                opacity: 1;
                font-size: 1.2rem;
                font-weight: bold;
              }
            }
          }
        }
        .interest_skills {
          .interest_title {
            margin-top: 6rem;
          }
          .Icons {
            justify-content: start;
            .iconBox.firebase {
              margin-left: 6%;
            }
          }
        }
      }
    }
  }
}
