@import "./reset";
@import url("https://fonts.googleapis.com/css?family=Jua|Noto+Sans+KR&display=swap");
@import "./header";
@import "./navigation";
@import "./main";
@import "./circle";
@import "./aboutMe";
@import "./arrow";
@import "./featureArrow";
@import "./mySkills";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: white;
}

.master_text {
  margin-left: 3%;
  margin-top: 1.5rem;
  font-family: "Jua", sans-serif;
  font-size: 2.5rem;
}
