@import "./reset";
@import url("https://fonts.googleapis.com/css?family=Jua|Noto+Sans+KR&display=swap");
@import "./header";
@import "./navigation";
@import "./main";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: white;
}

.FixedNav {
  position: fixed;
  top: 0;
}
